*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background: black;
}

.header{
  background: url("../Image/main-screen__bgc.png");
  color: white;
  padding-top: 40px;
  padding-bottom: 218px;
  display: flex;
  flex-flow: column;
}
.menu{
  display: flex;
  justify-content: space-between;
  margin-left: 2.1%;
  margin-right: 2.1%;
  align-items: center;
}
.header_nav{
  max-width: 745px;
  display: flex;
}
.header_ul{
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  width: 100%;
}
.header_ul>li>a{
  color:white;
  text-decoration: none;
}
.header_ul>li:not(:last-child){
  margin-right: 55px;

}

.cab{
  padding: 0px 30px;
  width: max-content;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  line-height: 150%;
}
.main_title{
  margin-left: calc((100% - 1300px) / 2);
  /* margin-left: 16.25%; */
  margin-top: 198px;
  display: flex;
}

.main_title>h1{
  font-size: 64px;
  font-weight: bold;
  width: 47.9%;
}
.main_title>h1>span{
  white-space: nowrap;
}
.clock{
  display: flex;
  margin-left: calc((100% - 1300px) / 2);
  margin-top: 50px;
  /* margin-left: 16.25%; */
}
.clock_block{
  background: rgba(18, 18, 18, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding:20px 30px;
  margin-right: 1.6%;
}
.clock_block>h2{
  font-size: 36px;
  font-weight: bold;
}
.clock_block>p{
  color: rgba(255, 255, 255, 0.4);
}
.order{
  background: rgba(18, 18, 18, 1);
  /* padding-left: calc((100% - 1300px) / 2); */
  color:white;
  display: flex;
  padding-top:36px;
  padding-bottom:36px;
  /* justify-content: space-between; */
}
.order_content{
  display: flex;
  gap:8%;
  /* justify-content: space-between; */
  max-width: 1300px;
  margin: 0 auto;
  width: 100%

}
.order_but{
  padding: 0px 30px;
  width: max-content;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  line-height: 150%;
}
.students{
  width: 19%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.students_item{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.students_item>p{
  opacity: 0.4;
}
.students_item>p:last-child{
  opacity: 1;
}
.students_item:last-child{
  margin-top: 10px;
}
.earn{
  width: 53%;
}
.earn_rub{
  display: flex;
}
.earn_rub>p:first-child{
  opacity: 0.4;
}
.earn_rub>p:last-child{
  margin-left: 30px;
}
.earn_line{
  display: flex;
  height: 6px;
  margin-top: 6px;
}
.earn_line>div:first-child{
  width:61%;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);

}
.earn_line>div:last-child{
  background: white;
  width:39%;
}
.earn_rest{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
}
.earn_rest>p{
  opacity: 0.4;
}

.about_content{
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 200px auto 0px;
}
.about_image{
  width: 40.5%;
}
.about_image>img{
  width: 100%;
}
.about_us{
  width: 49%;
}
.about_us>h2{
  margin-top: 70px;
  margin-bottom: 45px;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
}
.about_us>p{
  line-height: 160%;
}
.start_content{
  color:white;
  /* opacity: 0.4; */
  width: 100%;
  max-width: 1315px;
  margin: 200px auto 0px;
}
.start_head{
  width: 38.4%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.start_head_title>h2{
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
}
.start_article{
  max-width: 411px;
  width: 100%;
  margin-top: 49px;
}
.start_article>p{
  font-size: 16px;
  line-height: 160%;
  opacity: 0.4;
}
.percents{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 80px;
}
.percents>div{
  flex-basis: 25%;
}
.percents>div>h2{
  font-size: 36px;
}
.start_line{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 20px;
  height: 80px;
}
.start_line>div{
  flex-basis: 25%;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}
.start_line>div:nth-child(2){
  height: 60px;
  align-self: center;
}
.start_line>div:nth-child(3){
  height: 30px;
  align-self: center;
}
.start_line>div:last-child{
  height: 15px;
  align-self: center;
}

.start_text{
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}
.start_text>div>p{
  font-size: 14px;
  opacity: 0.4;
  Line height: 22.4px;
}
.start_text>div{
  padding-right: 10px;
  max-width: 306px;
}
.resume{
  margin-top: 200px;
}
.resume_content{
  color: white;
  width: 100%;
  max-width: 1296px;
  margin: 0 auto;
}
.resume_head{
  display: flex;
}
.resume_head>h2{
  margin: 0 auto;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
}
.resume_box_content{
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
.resume_box{
  max-width: 358px;
}
.box_img{
  width: 28%;
  margin: 0 auto;
}
.box_img>img{
  width: 100%;
}
.box_text{
  margin-top: 60px;
}
.box_text>p:first-child{
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  max-width: 325px;
  margin: 0 auto;
}
.box_text>p:nth-child(2){
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  max-width: 325px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.box_text>p:last-child{
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  opacity: 0.8;
}
.brands_content{
  margin:200px auto 0px;
  max-width: 1315px;
  width: 100%;
  color:white;
}
.brands_head{
  display: flex;
  width: 61%;
  align-items: center;
}
.brands_head_img>img{
  width:100%;
}
.brands_head_title>p{
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
}
.brands_table{
  background: rgba(255, 255, 255, 0.3);
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
  margin-top: 60px;
}
.brands_table>div{
  background: black;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top: none;
}
.brands_table>div:nth-child(1){
  border-left: none;
}
.brands_table>div:nth-child(2){
  border-left: none;
}
.brands_table>div:nth-child(3){
  border-left: none;
}
.brands_table>div:nth-child(4){
  border-right: none;
  border-left: none;
}
.brands_table>div:nth-child(5){
  border-left: none;
  border-bottom: none;
}
.brands_table>div:nth-child(6){
  border-bottom: none;
  border-left: none;
}
.brands_table>div:nth-child(7){
  border-left: none;
  border-bottom: none;
}

.brands_table>div:nth-child(8){
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.brands_icon{
  margin: 0 auto;
  width: 100%;
  max-width:198px;
  margin-bottom: 29px;
  margin-top: 29px;
}
.brands_icon>img{
  width: 100%;
}
.program_content{
  max-width: 1116px;
  margin: 153px auto 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.program_title>h2{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
}
.program_title>p{
  color: white;
  opacity: 0.5;
  font-size: 16px;
  line-height: 160%;
  max-width: 411px;
  text-align: center;
  margin: 30px auto 0px;
}



/* PROGRAM WEEK SCHEME************************************************ */
section{
align-items: center;
display: flex;
width: 80%;
margin: 0 auto;
justify-content:flex-start;
}
section:nth-child(odd){
flex-direction: row-reverse;
justify-content:flex-start;
}
section:nth-child(odd) .week_text{
  text-align: left;
}
section:nth-child(odd) .week_line{
  justify-content: flex-start;
}
.week_text{
  color:white;
  width: 44.5%;
  text-align: right;
  line-height: 160%;
}
.week_text>p:first-child{
  opacity: 0.5;
  margin-bottom: 15px;
}
.week_text>p:nth-child(2){
  font-size: 18px;
  line-height: 160%;
}
.week_text>p:last-child{
  font-size: 18px;
  line-height: 160%;
}
.week_line{
  color:white;
  width: 5.3%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.purple_line{
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  height: 690px;
  width: 0.4%;
  position: absolute;
  right:49.8%;
  /* top:4395px; */
  z-index: 10;
}
.cont_week{
  position: relative;
  margin-top: 90px;
}
.line{
  width: 40px;
  height: 1px;
  background: white;
  opacity: 0.5;
}
/* PROGRAM WEEK SCHEME ***********************************/





/* TEACHERS **********************************************/

.teachers_content{
  color:white;
  margin: 0 auto;
  width: 100%;
  max-width: 1342px;
  margin-top: 171px;
}
.teachers_head{
  width: 100%;
  display: flex;
  align-items:center;
}
.teachers_head_img{
  width: 13.4%;
}
.teachers_head_img>img{
  width: 100%;
}
.teachers_head_title>h2{
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
}
.teachers_photo{
  display:flex;
  justify-content: space-around;
  width: 95%;
  margin: 0 auto;
}
.photo{
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.photo>h3{
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  margin-top: 40px;
}
.photo>p{
  opacity: 0.8;
  margin-top: 15px;
}
.photo>button{
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 150%;
  background: black;
  color:white;
  margin-top: 30px;
}

/* TEACHERS **********************************************/




/* FOOTER **************************************************/

.footer_content{
  color:white;
  width: 100%;
  max-width: 547px;
  margin: 200px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_head{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_head>h2{
  font-weight: bold;
  font-size: 48px;
  line-height: 140%;
}
.footer_head>p{
  line-height: 160%;
  opacity: 0.5;
  margin-top: 30px;
  max-width: 411px;
  text-align: center;
}
.footer_email{
  margin-top: 60px;
  width: 95%;
}
.input_group{
  position: relative;
  width: 100%;
}
.subscribe{
  height: 44px;
}
#footer_mail{
  height: 44px;
  background: rgba(255, 255, 255, 0.25);
  color:white;
  border-radius:50px;
  padding-left: 30px;
  width: 100%;
}
#footer_mail::placeholder{
  color:white;
}
.subscribe{
  position: absolute;
  align-items: center;
  padding: 10px 30px;
  right: 0px;
  background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  border-radius: 50px;
  color:white;
  font-size: 16px;
  line-height: 150%;
  border: none;
}
.footer_nav{
  width:100%;
  display: flex;
  max-width: 300px;
  margin-top: 40px;
  justify-content: space-between;
}
.footer_icon{
  width: 17%;
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}







@media only screen and (max-width:1040px) {

  .header_ul>li:not(:last-child){
    margin-right: 10px;
  }
  .header_ul>li>a{
    font-size: 14px;
  }
  .brands_table{
    grid-gap: 0;
  }
  .subscribe{
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
    right: 0px;
  }
  .clock{
    margin-left: 20px;
  }
  .main_title{
    margin-left: 20px;
  }
  .clock .clock_block .order{
  padding: 10px 15px;
  }
}
@media only screen and (max-width:800px) {

.header_ul>li:not(:last-child){
  margin-right: 10px;
}
.header_ul>li>a{
  font-size: 14px;
}
.brands_table{
  grid-gap: 0;
}
.subscribe{
  font-size: 14px;
  padding-left: 5px;
  padding-right: 5px;
  right: 0px;
}
.clock{
  margin-left: 20px;
}
.main_title{
  margin-left: 20px;
}
.clock .clock_block .order{
padding: 10px 15px;
}
}
@media only screen and (max-width:680px) {
  .header_nav{
    display: none;
  }
  .clock{
    margin-left: 20px;
  }
  .main_title{
    margin-left: 20px;
  }
  .clock .clock_block .order{
  padding: 10px 15px;
  }
  .earn_rub>p:last-child{
  margin-left: 5px;
  }
  .about_us>h2{
  font-size: 24px;
  }
  .brands_icon{
  max-width: 50px;
  }
  .brands_head_title>p{
  font-size: 24px;
  }
  .brands_table{
  grid-gap: 0;
  }
  .subscribe{
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  right: 0px;
  }
  .teacher{
  height: 140px;
  width: 140px;
  }
}
@media only screen and (max-width:1000px) {
  .main_title>h1>span{
    white-space: inherit;
  }
  .main_title>h1{
font-size: 30px;
}
  .brands_content{
    max-width: 1000px;
  }
}
@media only screen and (max-width:560px) {
  .header_nav{
    display: none;
  }
  .clock{
    margin-left: 20px;
  }
  .main_title{
    margin-left: 20px;
  }
.clock .clock_block .order{
  padding: 10px 15px;
}
.earn_rub>p:last-child{
  margin-left: 5px;
}
.about_us>h2{
  font-size: 24px;
}
.brands_icon{
  max-width: 50px;
}
.brands_head_title>p{
  font-size: 24px;
}
.brands_table{
  grid-gap: 0;
}
.subscribe{
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  right: 0px;
}
.teacher{
  height: 140px;
  width: 140px;
}
}
@media only screen and (max-width:600px) {
  .header_nav{
    display: none;
  }
  .clock{
    margin-left: 20px;
  }
  .main_title{
    margin-left: 20px;
  }
  .clock .clock_block .order{
  padding: 10px 15px;
  }
  .earn_rub>p:last-child{
  margin-left: 5px;
  }
  .about_us>h2{
  font-size: 24px;
  }
  .brands_icon{
  max-width: 50px;
  }
  .brands_head_title>p{
  font-size: 24px;
  }
  .brands_table{
  grid-gap: 0;
  }
  .subscribe{
  font-size: 10px;
  padding-left: 5px;
  padding-right: 5px;
  right: 0px;
  }
  .teacher{
  height: 140px;
  width: 140px;
  }
}
